
.chat_message_icons{
  width:18px !important;
  height:20px !important;
                          
}
/* Animation for chat window opening */
#n8n-chat [data-key="window"] {
  animation: slideInUp 0.3s ease-out !important;
}
.chat_message_icons{
  cursor:pointer !important;
}


/* Mobile Responsiveness */
@media (min-width: 1920px) {
   .naf-chatbot-container{
    width: 25vw !important;
    height: 70vh !important;
  }
}
@media (max-width: 768px) {
  #n8n-chat [data-key="window"] {
    width: calc(100vw - 20px) !important;
    height: calc(100vh - 20px) !important;
    bottom: 10px !important;
    right: 10px !important;
    left: 10px !important;
    border-radius: 20px !important;
  }
  
  #n8n-chat button[data-key="toggle"] {
    width: 56px !important;
    height: 56px !important;
    bottom: 20px !important;
    right: 20px !important;
  }
}
@media (max-width: 475px) {
  .naf-chatbot-container{
    width: 95vw !important;
    height: 80vh !important;
  }
  .naf-chatbot-sec{
     bottom: 8px !important ;
     right:  10px !important;

  }
  .chat_toggle_icons{
    width: 56px !important;
    height: 56px !important;
  }
  
}
@media (max-width: 355px) {
  .naf-chatbot-container{
     width: 95vw !important;
  }
}

